footer{
  background:#482615;
  border-top:1px solid rgba(201,150,58,0.2);
  padding:2rem 5rem;
  display:flex;
  align-items:center;
  justify-content:center;
}
.ft-l{
    font-family:"EB Garamond",serif;
    font-size:0.9rem;
    color:rgba(240,232,213,0.45)
}